html, body {
 margin: 0;
 padding: 0;
}
body {
 width: 100%;
 height: 100%;
 margin: 0;
 background-image: url(assets/desert.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}
.citat {
 text-align: center;
 font-size: 25px;
 letter-spacing: inherit;
 text-transform: uppercase;
 position: relative;
 top: 200px;
}
.autor  {
 font-size: 20px;
 text-align: center;
 position: relative;
 bottom: -295px;
}
